section.features
  .container
    .row
        .col-lg-6.col-12
            .features-img
              .icon-box
                .icon-block
                  .icon-wrap.icon-wrap-one
                    i
                  .icon-wrap.icon-wrap-two
                    i
                  .icon-wrap.icon-wrap-three.active
                    i
                  .icon-wrap.icon-wrap-four
                    i
                  .icon-wrap.icon-wrap-five
                    i
              img(src='assets/img/phone-features.png', alt='phone')
        .col-lg-6.offset-lg-0.col-12
          .features-text
            .text-block
              h2 Best calorie 
                span counter app!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.