extends ../layout/main

block title
	| Title

//- block mixin


block content
	include ../sections/main/main
	include ../sections/features/features
	include ../sections/simple-way/simple-way
	include ../sections/management/management
	include ../sections/footer/footer