.meal-time {
	&-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 8px;
		border-style: solid;
		border-width: 1px;
		border-color: $borderMealTime;
		box-sizing: border-box;
		box-shadow: 0px 0px 60px 0px rgba(48, 60, 17, 0.15);
		width: 42.1rem;
		height: 10.9rem;
		padding: 2.2rem 1.1rem;
		margin: 1rem 0;
		&.big {
			width: 52.5rem;
			height: 13.5rem;
			.meal-time {
				&-img {
					margin-right: 12px;
					@media screen and (max-width: $phoneWidth) {
						width: 30%;
					}
				}
				&-text {
					h3 {
						font-size: 1.96rem;
						@media screen and (max-width: $phoneWidth) {
							font-size: 1.568rem;
						}
					}
					.desc {
						font-size: 1.54rem;
						@media screen and (max-width: $phoneWidth) {
							font-size: 1.232rem;
						}
					}
					p {
						span {
							font-size: 1.54rem;
							@media screen and (max-width: $phoneWidth) {
								font-size: 1.232rem;
							}
						}
						.point {
							&::after {
								width: 5px;
								height: 5px;
								margin: 2px 12px;
								@media screen and (max-width: $phoneWidth) {
									width: 4px;
									height: 4px;
									margin: 2px 10px;
								}
							}
						}
					}
				}
				&-time {
					p {
						font-size: 1.96rem;
						@media screen and (max-width: $phoneWidth) {
							font-size: 1.568rem;
						}
						span {
							font-size: 3.08rem;
							@media screen and (max-width: $phoneWidth) {
								font-size: 2.464rem;
							}
						}
					}
				}
			}
			@media screen and (max-width: $phoneWidth) {
				width: 95%;
			}
		}
		@media screen and (max-width: $phoneWidth) {
			width: 95%;
		}
	}
	// .big
	
	&-img {
		margin-right: 12px;
		@media screen and (max-width: $phoneWidth) {
			width: 30%;
		}
		img {
			@media screen and (max-width: $phoneWidth) {
				width: 100%;
			}
		}
	}
	&-text {
		margin-left: -30px;
		h3 {
			color:  $mainBg;
			font-size: 1.568rem;
			font-weight: 700;
		}
		.desc {
			font-size: 1.232rem;
			font-weight: 300;
			line-height: 2;
		}
		p {
			margin: 0;
			span {
				color: $mainBg;
				font-size: 1.232rem;
				font-weight: 700;
				
				text-transform: uppercase;
			}
			.point {
				display: inline-block;
				position: relative;
				font-size: 1.232rem;
				&::after {
					content: '';
					display: block;
					border-radius: 50%;
					background-color: $time;
					width: 4px;
					height: 4px;
					margin: 2px 10px;
				}
			}
		}
	}
	&-time {
		text-align: end;
		p {
			color: $time;
			font-size: 1.568rem;
			font-weight: 700;
			text-transform: uppercase;
			span {
				font-size: 2.464rem;
				&.future {
					color: $mainBg;
				}
			}
		}
	}
}