@import "parallax";

.simple-way {
    background-color: $lightBg;
    min-height: 900px;
    padding: 10rem 0 0 0;
    overflow: hidden;
    @media screen and (max-width: $tableWidth) {
        min-height: 0;
        padding: 5rem 0;
    }
    &-img {
        text-align: center;
        transform: translateY(138px);
        @media screen and (max-width: $tableWidth) {
            transform: translateY(0);
        }
        img {
            width: 100%;
        }
    }
}