.home {
    padding: 0;
    overflow: hidden;
    @media screen and (max-width: $smDesktopWidth) {
        padding: 0 0 5rem 0;
    }
    &-img {
        text-align: right;
        img {
            transform: translateY(10px);
        }
        @media screen and (max-width: $smDesktopWidth) {
            display: none;
        }
    }
}


.brend {
	box-shadow: 0px 0px 60px 0px rgba(48, 60, 17, 0.15);
	width: 111px;
	height: 111px;
	background: #fff;
	border-radius: 25px;
    position: relative;
    margin: 10rem 0;
	&::before {
		content: '';
		display: block;
		border-radius: 50%;
		border: 3px solid $mainBg;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 87px;
		height: 87px;
	}
	&::after {
        content: '\e900';
        font-family: $icomoon-font-family;
        font-size: 50px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $mainBg;
    }
    @media screen and (max-width: $smDesktopWidth) {
        margin: 1rem auto;
    }
}