footer.footer
    include parallax
    .container
        .row
            .col-lg-8.offset-lg-2.col-12.offset-0
                .text-block.center.light
                    h2 Download, customize & 
                        span enjoy!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    button.main-btn.main-btn-footer Get App