section.management
    .container
        .row
            .col-xl-6.col-lg-5.col-12
                .flexbox
                    .text-block
                        h2 Manage your 
                            span meal time
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            .col-xl-6.col-lg-7.col-12
                include meal-time
                