.meal-time-block
    .meal-time-inner
        .meal-time-img
            img(src='assets/img/meal-1.png', alt='Apple')
        .meal-time-text
            h3 Apple
            p.desc Lorem ipsum dolor sit.
            p
                span 35 g
                i.point
                span 189 kcal
        .meal-time-time
            p
                span 01:00
                br
                | pm
    .meal-time-inner.big
        .meal-time-img
            img(src='assets/img/meal-2.png', alt='Sandwich')
        .meal-time-text
            h3 Sandwich
            p.desc Lorem ipsum dolor sit.
            p
                span 35 g
                i.point
                span 189 kcal
        .meal-time-time
            p
                span.future 03:00
                br
                | pm
    .meal-time-inner
        .meal-time-img
            img(src='assets/img/meal-3.png', alt='Salad with chicken')
        .meal-time-text
            h3 Salad with chicken
            p.desc Lorem ipsum dolor sit.
            p
                span 220 g
                i.point
                span 189 kcal
        .meal-time-time
            p
                span.future 05:30
                br
                | pm