header.header
    .container
        .row
            .col-lg-2.col-12
                .logo
                    a(href='#')
                        img(src='assets/img/logo.png', alt='FitApp')
            .col-lg-5.offset-lg-3.col-12.offset-0
                nav.menu
                    a(href='#') About
                    a(href='#') Features
                    a(href='#') Reviews
                    a(href='#') Blog
                    a(href='#') Support
            .col-lg-2.col-12
                .main-btn-block
                    button.main-btn Get App