section.home
    .container
        .row
            .col-lg-6.col-12
                .brend
                .text-block
                    h1 Helps you eat 
                        span better.
                    p FitApp is a free calorie counting and diet app PSD template which includes high quality 9 screens. This template can be very helpful if you're planning to build food tracking application.
            .col-lg-6
                .home-img
                    img(src='assets/img/phone-header.png', alt='phone')