-var parallaxImg = 'assets/img/parallax'
- var num = '1'

.parallax
    .rellax.pepper(data-rellax-speed=''+num)
        img(src=parallaxImg + '/pepper.png', alt='pepper')
    .rellax.apple(data-rellax-speed=''+num)
        img(src=parallaxImg + '/apple.png', alt='apple')
    .rellax.banana(data-rellax-speed=''+num)
        img(src=parallaxImg + '/banana.png', alt='banana')
    .rellax.strawberry(data-rellax-speed=''+num)
        img(src=parallaxImg + '/strawberry.png', alt='strawberry')