section.simple-way
    include parallax
    .container
        .row
            .col-lg-8.offset-lg-2.col-12.offset-0
                header.text-block.center
                    h2 A simple way to 
                        span plan your diet!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                .simple-way-img
                    img(src='assets/img/phone-simple.png', alt='phonts')